/.idea/.idea.FluentFinancialFormulae/.idea/.gitignore
/FluentFinancialFormulae/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/.idea/.idea.FluentFinancialFormulae/.idea/encodings.xml
/FluentFinancialFormulae/obj/Debug/net7.0/FluentFinancialFormulae.AssemblyInfo.cs
/FluentFinancialFormulae/obj/Debug/net7.0/FluentFinancialFormulae.AssemblyInfoInputs.cache
/FluentFinancialFormulae/obj/Debug/net7.0/FluentFinancialFormulae.assets.cache
/FluentFinancialFormulae/obj/Debug/net7.0/FluentFinancialFormulae.csproj.AssemblyReference.cache
/FluentFinancialFormulae/obj/Debug/net7.0/FluentFinancialFormulae.csproj.CoreCompileInputs.cache
/FluentFinancialFormulae/obj/Debug/net7.0/FluentFinancialFormulae.csproj.FileListAbsolute.txt
/FluentFinancialFormulae/obj/FluentFinancialFormulae.csproj.nuget.dgspec.json
/FluentFinancialFormulae/obj/FluentFinancialFormulae.csproj.nuget.g.props
/FluentFinancialFormulae/obj/FluentFinancialFormulae.csproj.nuget.g.targets
/FluentFinancialFormulae/bin/Debug/net7.0/FluentFinancialFormulae.deps.json
/FluentFinancialFormulae/bin/Debug/net7.0/FluentFinancialFormulae.dll
/FluentFinancialFormulae/obj/Debug/net7.0/ref/FluentFinancialFormulae.dll
/FluentFinancialFormulae/obj/Debug/net7.0/refint/FluentFinancialFormulae.dll
/FluentFinancialFormulae/obj/Debug/net7.0/FluentFinancialFormulae.dll
/FluentFinancialFormulae/obj/Debug/net7.0/FluentFinancialFormulae.GeneratedMSBuildEditorConfig.editorconfig
/FluentFinancialFormulae/obj/Debug/net7.0/FluentFinancialFormulae.GlobalUsings.g.cs
/FluentFinancialFormulae/bin/Debug/net7.0/FluentFinancialFormulae.pdb
/FluentFinancialFormulae/obj/Debug/net7.0/FluentFinancialFormulae.pdb
/.idea/.idea.FluentFinancialFormulae/.idea/indexLayout.xml
/FluentFinancialFormulae/Playground.cs
/FluentFinancialFormulae/obj/project.assets.json
/FluentFinancialFormulae/obj/project.nuget.cache
/FluentFinancialFormulae/obj/project.packagespec.json
/FluentFinancialFormulae/obj/rider.project.model.nuget.info
/FluentFinancialFormulae/obj/rider.project.restore.info
/.idea/.idea.FluentFinancialFormulae/.idea/vcs.xml
